<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="https://gs1.github.io/S4T/dist/bwip-js-min.js"></script>
    <title>${order.itemPackage.transportUnitId}</title>
    <style>

        div#symbol2D {
            top: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
<div id="symbol2D">
    <canvas id="canvas0"></canvas>
</div>
<script type="text/javascript">
function getValueIfNotNull(key, value) {
    if (value === null || value === '' || !value) return '';
    return key + '=' + value + '&';
}
    document.addEventListener("DOMContentLoaded", function () {
            try {
                console.log("loaded");
               // Get the host URL
                var hostURL = window.location.host;
                console.log("Host URL: " + hostURL);

                //"http://localhost:8080/barcode.html/00/195212342345678909?3302=001572&4300=Caf%C3%A9+Ni%C3%A7oise+at+GS1+AISBL&4301=Jaco+Voorspuij&4302=Avenue+Louise+326&4305=Bruxelles&4307=BE&4308=%2B32+2+788+78+00&401=9521234ABC12345&s4t",    // Text to encode
                let weightPadded = ([[${shipment.getWeight()}]] * 1000).toFixed(0).padStart(6, '0');
                let barcodeText = hostURL + '/00/' + [[${shipment?.getTransportUnitId()}]] + '?' +
                    getValueIfNotNull('3302', weightPadded) +               // Weight
                    getValueIfNotNull('4300', [[${shipment.getDeliveryAddress()?.getCompany()}]]) +
                    getValueIfNotNull('4302', [[${shipment.getDeliveryAddress()?.getAddressLine1()}]]) +
                    getValueIfNotNull('4304', [[${shipment.getDeliveryAddress()?.getSuburb()}]]) +
                    getValueIfNotNull('4305', [[${shipment.getDeliveryAddress()?.getCity()}]]) +            // City
                    getValueIfNotNull('4307', [[${shipment.getDeliveryAddress()?.getCountryCode()}]]) +     // Country
                    getValueIfNotNull('420',  [[${shipment.getDeliveryAddress()?.getPostalCode()}]]) +      // Country
                    getValueIfNotNull('4308', [[${shipment.getDeliveryAddress()?.getPhoneNumber()}]]) +     // Phone
                    getValueIfNotNull('402',  [[${shipment.getOrder()?.getOrderNumber()}]]) +               // GSIN
                    getValueIfNotNull('4324', [[${shipment.getOrder()?.getDoNotDeliverBefore()}]]) +        // Not before delivery date time
                    getValueIfNotNull('4325', [[${shipment.getOrder()?.getDoNotDeliverAfter()}]]) +         // Not after delivery date time
                    's4t';

                console.log("data: " + barcodeText);

                // The return value is the canvas element
                let canvas = bwipjs.toCanvas("canvas0", {
                    bcid: "qrcode",       // Barcode type
                    text: barcodeText,    // Text to encode
                    scaleX: 3,               // 3x scaling factor
                    scaleY: 3,               // 3x scaling factor
                    includetext: false,            // Show human-readable text
                    textxalign: 'center',        // Always good to set this
                });
                let el = document.getElementById("canvas0");
                return el.width / 4;
            } catch (e) {
                // `e` may be a string or Error object

            }
        }
    );
</script>

</body>
</html>
