<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="https://gs1.github.io/S4T/dist/bwip-js-min.js"></script>
    <title>${order.itemPackage.transportUnitId}</title>
    <style>

        div#symbol2D {
            position: absolute;
            top: 20px;
        }
    </style>
</head>
<body>
<div id="symbol2D">
    <canvas id="canvas0"></canvas>
</div>
<script type="text/javascript">
function getValueIfNotNull(key, value) {
    if (value === null || value === '') return '';
    return key + '=' + value + '&';
}
    document.addEventListener("DOMContentLoaded", function () {
            try {
                console.log("loaded");
               // Get the host URL
                var hostURL = window.location.href;
                console.log("Host URL: " + hostURL);

                let shipment = [[${shipment}]];
                let address = shipment.order.deliveryAddress;
                //"http://localhost:8080/barcode.html/00/195212342345678909?3302=001572&4300=Caf%C3%A9+Ni%C3%A7oise+at+GS1+AISBL&4301=Jaco+Voorspuij&4302=Avenue+Louise+326&4305=Bruxelles&4307=BE&4308=%2B32+2+788+78+00&401=9521234ABC12345&s4t",    // Text to encode
                let weightPadded = (shipment.weight * 1000).toFixed(0).padStart(6, '0');

                let txt = hostURL + '/00/' + '195212342345678909?' +
                    getValueIfNotNull('3302', weightPadded) +               // Weight
                    getValueIfNotNull('4300', address.company) +
                    getValueIfNotNull('4301', address.contanct) + 
                    getValueIfNotNull('4302', address.addressLine1) + 
                    getValueIfNotNull('4305', address.city) +               // City
                    getValueIfNotNull('4307', address.countryCode) +        // Country
                    getValueIfNotNull('4308', address.phoneNumber) +        // Phone
                    getValueIfNotNull('401', shipment.transportUnitId) +    // GINC
                    's4t';

                console.log("data: " + txt);

                // The return value is the canvas element
                let canvas = bwipjs.toCanvas("canvas0", {
                    bcid: "qrcode",       // Barcode type
                    text: "http://localhost:8080/barcode.html/00/195212342345678909?3302=001572&4300=Caf%C3%A9+Ni%C3%A7oise+at+GS1+AISBL&4301=Jaco+Voorspuij&4302=Avenue+Louise+326&4305=Bruxelles&4307=BE&4308=%2B32+2+788+78+00&401=9521234ABC12345&s4t",    // Text to encode
                    scaleX: 2,               // 3x scaling factor
                    scaleY: 2,               // 3x scaling factor
                    includetext: false,            // Show human-readable text
                    textxalign: 'center',        // Always good to set this
                });
                let el = document.getElementById("canvas0");
                return el.width / 4;
            } catch (e) {
                // `e` may be a string or Error object

            }
        }
    );
</script>

</body>
</html>